#mobile_mode {
    display: none;
}
.top-nav {
    padding: 0px;
    header {
        height: 9vh;
        background: rgba(255, 254, 254, 0.6);
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        #logo {
            font-family: $main_font;
            font-style: normal;
            font-weight: normal;
            line-height: normal;
            font-size: 36px;
            height: 100%;
            display: flex;
            justify-content: center; /* align horizontal */
            align-items: center; /* align vertical */
        }

        .header-left {
            height: 100%;
            padding-left: 20px;


        }

        .header-right {
            height: 100%;
            display: flex;
            justify-content: center; /* align horizontal */
            align-items: center; /* align vertical */
            padding-right: 20px;
            float: right;

            img, span {
               margin-left: 5px;
            }
        }
    }
}
#banner {
    div {
        width: 100%;
        height: 80vh;
        margin-top: -80px;
    }
}