$main_font: "Quicksand", sans-serif;
$navbar_images_multiplier: 0.9;

/* Global rules */
body {
    background-color: #F7FDFF;
}

.row {
    margin: 0px;
}


/* MIXINS */
@mixin not-dragable() {
    user-drag: none; 
    user-select: none;
    -moz-user-select: none;
    -webkit-user-drag: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}

@mixin set_underline() {
    text-decoration: underline;
}




/* Dekstop */
@media screen and (min-width: 481px) {
  @import "dekstop.scss"
}

/* Mobile */
@media screen and (max-width: 481px) {
  @import "mobile.scss"
}